.secao-conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;;
}

.info-conteudo{
    align-items: center;
    text-align: center;
}

.img-conteudo{
    width: 30vw;
}

.img-conteudo img{
    width: 500px;
}