
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
    gap: 15px;
}

.info-conteudo{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.titulo-conteudo{
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 25px;
}

.legenda-conteudo{
    font-size: 20px;
}

.botao-acessar{
    border: 3px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #16ADE7;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.botao-acessar:hover{
    background-color: #165f7c;
}

.botao-acessar a{
    color: white;
}

.info-conteudo p{
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 800px;
}

.imagem-conteudo{
    width: 450px;
}

#subtitulo-parceiros{
    max-width: 1000px;
}

#titulo-inicio{
    margin-top: 20px;
    font-size: 55px;
}

@media screen and (max-width: 1132px){
    .conteudo{
        flex-direction: column;
    }

    .info-conteudo{
        text-align: center;
    }

    .legenda-conteudo{
        text-align: center;
        max-width: 300px;
    }

    .botao-acessar{
        width: 80vw;
    }

    .info-conteudo{
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 500px;
    }
}

.imagem-conteudo{
    border-radius: 30px;
}

.parceiros{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    gap: 15px;
}

.parceiro{
    border: #16ADE7 solid 3px;
    border-radius: 25px;
    display: flex;
    justify-content: end;
    padding-top: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-parceiro{
    margin-top: 1px;
    border-radius: 20px;
    width: 200px;
}

.parceiro h2{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    align-items: center;
    text-align: center;
}

.parceiro p{
    margin-top: 10px;
    max-width: 300px;
}

.texto-parceiro{
    background-color: #C5EBF9;
    padding: 15px;
    border-radius: 25px;
}

.destaque{
    font-weight: bold;
}

#titulo-menor{
    font-size: 48px;
}

.form-contato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.linha-contato{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.radio{
    display: flex;
    gap: 5px;
}

.mensagem{
    width: 500px;
}

@media screen and (max-width: 730px){
    .linha-contato{
        flex-direction: column;
    }

    .legenda-conteudo{
        width: 80vw;
    }

    .imagem-conteudo{
        width: 80vw;
    }

}
