@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
}



main{
    padding-left: 10px;
    padding-right: 10px;
}

.formulario{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: center;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 80vw;
}

.titulo-ias{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo{
    font-size: 25px;
    max-width: 50vw;
}


.titulo h1{
    font-size: 60px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.linha-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo-menor{
    font-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
}

.subtitulo-menor{
    font-size: 20px;
}

.legenda{
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: -10px;
    color: gray;
    max-width: 50vw;
}

.certificado{
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    gap: 20px;
}

.certificado h1{
    font-size: 35px;
}

form{
    display: flex;
    margin: 10px;
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

#form-api{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-api label{
    font-size: 20px;
}

#form-api input{
    width: 200px;
    height: 20px;
}

#atualizar{
    border: none;
    border: 3px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f3bb02;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
    width: 400px;
    margin-bottom: 5px;
}

#atualizar:hover{
    background-color: #b78d03;
}


.enviar{
    border: 3px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #16ADE7;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 400px;
    cursor: pointer;
    margin-top: 10px;
}

.enviar:hover{
    background-color: #165f7c;
}

.botoes-evento{
    display: flex;
    gap: 10px;
}

.deletar{
    border: 3px solid black;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #e71616;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    width: fit-content;
    cursor: pointer;
    margin-top: 5px;
}

.deletar:hover{
    background-color: #862525;
}

.comparecer{
    border: 3px solid black;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #166ae7;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    width: fit-content;
    cursor: pointer;
    margin-top: 5px;
}

.comparecer:hover{
    background-color: #124898;
}

.informacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao-itens{
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#itens{
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.card{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16ADE7;
}

.campos{
    margin-top: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.linha-form{
    display: flex;
    gap: 20px;
}

.campos-linha{
    display: flex;
    gap: 20px;
}

.card-evento{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #16ADE7;
}

.evento-organizador{
    display: flex;
    border: 20px;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.info-organizador{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.nome-dia{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dia{
    margin-top: 1px;
    color: white;
    font-weight: bold;
}

.img-organizador{
    width: 100px;
    border-radius: 30%;
}

.nome-organizador{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.image-container img{
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.image-container-evento img{
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.nome-id{
    display: flex;
    gap: 10px;
}

.info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-evento{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.descricao{
    margin-top: 10px;
    width: 300px;
    text-align: center;
    margin-bottom: 0px;
}

.descricao-evento{
    margin-top: 5px;
    max-width: 380px;
}

.email{
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.adress{
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.secao-exemplos{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.exemplo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: top;
    align-items: center;
    gap: 10px;
}

.exemplo p{
    font-size: 19px;
    max-width: 30vw;
}

.print-pergunta{
    border-radius: 10px;
    margin-top: 3px;
    width: 30vw;
}

.linha-titulo{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.imgs-titulo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.linha-titulo img{
    width: 60px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 35px;
}

footer h1{
    margin-top: 18px;
}

#subtitulo-membros{
    color: #16ADE7;
    font-weight: bold;
    font-size: 20px;
}

.membros{
    flex-wrap: wrap;
    margin-top: 18px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.membro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membro img{
    width: 200px;
    border-radius: 40%;
    margin-bottom: 10px;
}

.nome-membro{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.rm-membro{
    font-size: 18px;
    color: #16ADE7;
    font-weight: bold;
}

.acessar-guia{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    text-align: center;
}


.acessar-guia button{
    border: 3px solid black;
    border-radius: 25px;
    width: 450px;
    font-size: 20px;
    height: 40px;
    color: white; 
    font-weight: bold;
    background-color: #16ADE7;
    cursor: pointer;
}

.acessar-guia button:hover{
    cursor: pointer;
    background-color: #165f7c;
}

.guia-passos{
    gap: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.linha-passo{
    display: flex;
    gap: 60px;
    align-items: start;
}

.subtitulo-exemplo{
    font-size: 24px;
    width: 50vw;
    margin-top: 20px;
}

.passo{
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.passo h2{
    font-size: 30px;
}

.passo p{  
    font-size: 24px;
    max-width: 35vw;
}

.passo img{
    border-radius: 10px;
    margin-top: 10px;
    width: 35vw;
}

.inicio-secao{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

@media screen and (max-width: 1132px){

    .campos-linha{
        flex-direction: column;
    }

    .linha-titulo{
        flex-direction: column;
        align-items: center;
    }

    .imgs-titulo{
        margin-bottom: 25px;
    }

    .secao-exemplos{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .exemplo{
        margin-top: 30px;
    }

    .exemplo p{
        max-width: 500px;
    }

    .print-pergunta{
        width: 80vw;
    }

    .membros{
        flex-direction: column;
    }

    .membro img{
        width: 250px;
        border-radius: 40%;
        margin-bottom: 10px;
    }

    .nome-membro{
        font-size: 22px;
    }

    .rm-membro{
        font-size: 20px;
    }

    .exemplo h2{
        font-size: 30px;
    }
    
    .exemplo p{
        font-size: 20px; 
    }
}

@media screen and (max-width: 730px){
    
    .subtitulo{
        max-width: 80vw;
    }

    .legenda{
        max-width: 80vw;
    }

    .acessar-guia{
        width: 80vw;
    }

    .acessar-guia button{
        width: 90vw;
    }

    .campos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #atualizar{
        width: 330px;
    }

    .enviar{
        width: 330px;
    }

    .guia-passos{
        flex-direction: column;
    }

    .linha-passo{
        align-items: center;
        flex-direction: column;
    }

    .passo p{  
        font-size: 24px;
        max-width: 80vw;
    }
    
    .passo img{
        border-radius: 10px;
        margin-top: 3px;
        width: 35vw;
    }

    .passo img{
        width: 80vw;
    }

    .secao-itens{
        flex-direction: column;
    }

    .linha-form{
        flex-direction: column;
    }
}
canvas{
    width: 700px;
    height: 495px;
    background-image: url(../img/certificado.png);
}

.certificado{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.certificado h1{
    max-width: 80vw;
}

.certificado .legenda{
    margin-bottom: 10px;
}
